<h1>Listing films</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Runtime</th>
      <th>Release date</th>
      <th>Plot</th>
      <th>Rating</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td><%= film.runtime %></td>
        <td><%= film.release_date %></td>
        <td><%= film.plot %></td>
	<td><%= rating_for film, "rating" %></td>
        <td><%= link_to 'Show', film %></td>
        <td><%= link_to 'Edit', edit_film_path(film) %></td>
        <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Film', new_film_path %>



<br><br>


<% if current_user == nil%>
Damit Sie bewerten können, müssen Sie sich einloggen. <br>
<%= link_to 'Sign in', new_user_session_path %>
<%= link_to 'Sign up', new_user_registration_path %>
<% end %>


<!--
<% if current_user %>
Logged in as: <%= current_user.email %>
<% else %>
Damit Sie bewerten können, müssen Sie sich einloggen.
<%= link_to 'Sign in', new_user_session_path %>
<%= link_to 'Sign up', new_user_registration_path %>
<% end %>
-->
