<!--<form action="films" method="get">
<p>Search <input type="text" name="search" size="30">
<input type="submit" value="Search" name="button1"></p>
</form>
-->
<br>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<br>

<% parameter = params[:q] %>
<% i = Spotlite::Search.new(parameter).movies %>
<table>
<thead>
     <tr>
      <th>Title</th>
      <th>Runtime</th>
      <th>Details</th>
     </tr>
</thead>
<tbody>


<% i.each do |filmarray| %>
<% film = Film.create(:cover => filmarray.poster_url, :title => filmarray.title, :runtime => filmarray.runtime, :release_date => filmarray.release_date, :plot => filmarray.description) %>

<% filmarray.cast[0..1].map do |hash| %>
<% actor_name = {name: hash[:name]} %>
 
<% act_name = Actor.find_by name: actor_name[:name] %> 
<% if act_name == nil %> 

<% actor = Actor.create(:name => actor_name[:name])%>
<% FilmActor.create(:film_id => film.id, :actor_id => actor.id) %>
<% else FilmActor.create(:film_id => film.id, :actor_id => act_name.id) %>
<% end %>
<% end %>

<% filmarray.directors.map do |hash| %>
<% director_name = {name: hash[:name]} %>

<% dir_name = Director.find_by name: director_name[:name] %>
<% if dir_name == nil %>

<% director = Director.create(:name => director_name[:name]) %>
<% FilmDirector.create(:film_id => film.id, :director_id => director.id) %>
<% else FilmDirector.create(:film_id => film.id, :director_id => dir_name.id) %>
<% end %>
<% end %>


<%filmarray.genres.each do |category_name| %>

<% cat_name = Category.find_by genre: category_name %>
<% if cat_name == nil %>

<% category = Category.create(:genre => category_name) %>
<% FilmCategory.create(:film_id => film.id, :category_id => category.id) %>
<% else FilmCategory.create(:film_id => film.id, :category_id => cat_name.id) %>
<% end %>
<% end %>

<tr><td align = left><%= filmarray.title %></td>
    <td align = center><%= filmarray.runtime %></td>
    <td><%= link_to 'Show', film %></td> 
</tr>
<% end %>



</tbody>
</table>

